body{font-family:Verdana,Arial,sans-serif;
     font-style:italic;
     word-spacing:3px;
     letter-spacing:2px;
     text-transform:capitalize;}
p{border:2px groove black;
  background-color:yellow;
  position:relative;
  bottom:-1px;
  max-width:200px;}
  
  #links{width:800px;}

span{background-color:orange;}
  
div  div #span{color:red;}
  
div{border:2px groove black;
    padding:40px 10px 20px 80px;}
    
div div #mak{width:200px;
             border:4px solid powderblue;
             border-radius:100%;}
     
div #god{border:4px groove lightgrey;
         padding:0;
         max-width:400px;
         max-height:470px;
         overflow:scroll;
         position:relative;
         bottom:16px;
         
         background: #fefcea; /* Для старых браузров */
         background: linear-gradient(to top, red, blue);}
         
#image{background-image: url("Dali.jpg");
       background-repeat:y-repeat;
       background-attachment:fixed;}
#pw{max-width:350px;
    background-color:orange;}
div div p {border-radius:0px 20px 20px 0px;}