*{font-family:"Times New Roman";
  font-style:normal;}
body{background-color:green;
     max-width:960px;}
h1{text-align:center;
text-transform:capitalize;}
ol{background-color:lightgreen;}
li{display:inline-block;
   margin:30px;
   padding-right:85px;}
a{text-decoration:none;
  color:black;}
li{position:static;}
li:hover a#one{position:relative;
                      bottom:20px;
                      color:red;}
li:hover a#second{position:relative;
                      top:20px;
                      color:blue;}
section{max-width:960px;
        background-color:lightgreen;}
                  div#div2{background:lightgrey;
                           max-width:190px;
                           min-height:480px;
                           float:right;}
       span#div1{display:block;
                 background:white;
                 max-width:600px;
                 min-height:400px;
                 font-size:4px;}
span#foot{text-decoration:underline;}
img{max-width:170px;
    margin-left:10px;
    margin-top:10px;
    border:2px double black;
    border-radius: 50% 0 50% 0;}
footer > span{clear:both;
              display:block;
              width:960px;
              height:175px;
              font-size:16pt;
              text-align:justify;
              background:lightgreen;}
footer span strong{margin-left:370px;}
footer span b + b {margin-left:300px;}
footer span span#foot{margin-left:400px;}
footer{margin-top:20px;}
