@font-face{font-family:Knoo;
src:url(Knoo.ttf);}

html{font-family:sans-serif;
     font-size:20px;
     background-color:rgb(200,200,200);
     max-width:960px;}
     
  ul{color:black;
     border-style:groove;
     border-color:black;;
     font-variant:small-caps;
     list-style:square inside none;}
          
 img{border:double 8px;}
     
footer{background-color:rgb(160,180,200);
       padding:10px;
       text-align:center;
       font-size:14pt;
       clear:both;}
       
textarea {width:870px;
          padding-bottom:200px;
          font-size:40px;}
          
   input {padding:28px;
          font-size:60px;}
          
    form {position:relative;
          left:10px;}
          
  summary{font-weight:bolder;
          background:rgb(200,200,200);
          font-size:60px;}
  
  details{background:#ECE7E0;}
  
figcaption{font-size:10pt;}
  
  fieldset{border:8px solid HSL(280, 0%, 0%);}
          
  header{text-align:center;
         margin-top:20px;
         padding:10px;
         padding-left:6px;
         font-family:Georgia;
         font-size:3em;
         height:100px;
         border-width:medium;
         border-style:solid;
         background-color:rgb(160,180,200);
         animation:header 5s linear 1s infinite;}
         
  @keyframes header{
                    from{border-left:medium solid lightblue;
                         border-right:medium solid blue;
                         border-top:medium solid darkblue;
                         border-bottom:medium solid #9CA4DB;}
                         
                     25%{border-left:medium solid #9CA4DB;
                         border-right:medium solid lightblue;
                         border-top:medium solid blue;
                         border-bottom:medium solid darkblue;}
                         
                     50%{border-left:medium solid darkblue;
                         border-right:medium solid #9CA4DB;
                         border-top:medium solid lightblue;
                         border-bottom:medium solid blue;}
                         
                     75%{border-left:medium solid blue;
                         border-right:medium solid darkblue;
                         border-top:medium solid #9CA4DB;
                         border-bottom:medium solid lightblue;}
                         
                      to{border-left:medium solid lightblue;
                         border-right:medium solid blue;
                         border-top:medium solid darkblue;
                         border-bottom:medium solid #9CA4DB;}
                     }
                     
        /*Меню сайта*/
                              
#first{position:absolute;
       background:lightgray;
       width:400px;
       height:640px;
       border-right:4px solid black;
       left:-408px;
       border-top:4px solid black;
       z-index:2;}
       
#second{width:70px;
        padding:5px;
        height:70px;
        background:rgb(200,200,200);
        border:3px groove black;
        border-radius:25%;
        position:absolute;
        margin:10px;
        left:420px;
        cursor:pointer;}
        
#first.active{transition:left 1.30s ease;
              left:-42px;}
              
hr{margin-top:11px;
   border:4px solid gray;
   border-radius:25%;}
   
#second + ul{border:none;}

li#Menu {border-bottom:4px solid black;}

#second + ul a{display:block;
               background:transparent;
               padding:40px;
               color:black;
               font-size:xx-large;}
               
#second + ul a:nth-child(3){cursor:help;}

#second + ul a:hover{background:black;
                     color:white;}
#second + ul a:active{background:transparent;
                      color:white;}

#second + ul a:last-child{border-bottom-style:solid;}

#second + ul li{list-style:none;}
   
#second:hover hr{border-color:rgb(200,200,200);}

#second:hover{background:gray;}

#second:active hr{border-color:gray;}

#second:active{background:rgb(200,200,200);}

#Menu{list-style:none;
      text-align:center;
      font-weight:bolder;
      font-family:Knoo;
      font-size:6em;
      letter-spacing:10px;}
            
            /*Links*/
            
        a{text-decoration:none;
          cursor:pointer;}
            
   a:link{color:powderblue;
          text-decoration:none;
          border-bottom:5px dotted powderblue;}
          
          
a:visited{color:powderblue;
          text-decoration:none;}
          
  a:hover{color:black;
          text-decoration:none;
          border-bottom:4px dotted black;}
          
          /*Syte_regestration*/
          
input[name*="gen"], .stuck{cursor:pointer!important;}

input, textarea{cursor:text;}
                    
input[name*="gen"]{width:40px;
                   height:40px;}
                   
span + input[name*="gen"]{margin-left:100px;}
                   
input[name*="gen"] + span{font-size:40px;}
 
:out-of-range{border: 2px solid red;}

input[type="number"]{width:815px;}
 
form input.stuck{left:8px;}         
          
form button.stuck{padding:28px 68px 28px 64px;
                  margin-left:150px;}
                    
form p button.stuck, input.stuck{font-size:40px;
                                 background:white;
                                 color:black;}

form p button.stuck:hover, input.stuck:hover{background:black;
                                             color:white;}
                                             
form p button.stuck:active, input.stuck:active{background:white;                                     color:black;}
          
form > fieldset > legend{font-size:60px;}

          /*Site_1.html*/
          
nav > ul{font-style:italic;}
          
nav ul.black a span{font-style:normal;}

article, nav {text-align:justify;
              max-width:970px;}

article ul#color {list-style-type:none;}

        /*Site-cinema.html*/

a[href*="wikipedia"]{border-bottom:none;}
        
details p{font-size:30pt;}

.text header{font-size:60px;}
        
body.text > p{text-indent:49px;
              font-size:20pt;}

details p + div{overflow:scroll;
                border:6px groove black;}
                
details div > table{font-size:45px;
                    border-collapse:separate;}

table th, td{padding-right:110px;
             padding-left:30px;
             border:2px solid black;
             text-align:center;}
       
tfoot td{border-width:0px;
         text-align:left;}
         
table a {background:grey;}

details.align + details > summary > span{font-weight:bolder;
                                         font-size:35px;}

details p.align::first-letter{font-weight:900;
                              font-size:4em;
                              float:left;
                              padding:10px;
                              line-height:0.84em;}
                              
details.align p::first-letter{font-weight:900;
                              font-size:4em;
                              float:left;
                              padding:10px;
                              line-height:0.84em;}
                              
           /*Achievement.html*/ 
                                        
.Achievebox center span{padding:5px;
                        font-size:xx-large;
                        border:medium dashed grey;
                        line-height:300px;}
                                                            
.Achievebox + .Achievebox{float:right;}
                                                       
.Achievebox{float:left;
            transition: 3s ease;}
                                                             
.Achievebox:hover{outline-color:green;
                  border-color:lightgreen;}                                                            
       
/*The starting of "id" selectors*/

#white {background-color:white;}

#color{background-color:rgb(170,170,180);}

  #back{background-color:rgb(0,100,200);}
  
   #try{border-color:rgb(10,0,10);}
   
   #train{min-width:960px;
          height:600px;}
           
   #h1{font-family:Knoo;
       color:rgb(24,46,86);
       font-size:60pt;
       text-shadow:6px 4px 3px grey;
       font-weight:900;
       text-align:center;}
        
  #text{text-decoration:underline;}
  
#bolder{font-weight:bolder;
        font-variant:small-caps;
        text-indent:190px;}
                        
             /*Images*/
             
#foto-0{width:600px;}

#foto-1{width:360px;}

#foto-2{width:390px;}

#avengers{width:400px;}

   #Garry{width:453px;}
   
#Achievement-1{border:none;
               width:100%;
               cursor:pointer;}
   
/*The starting of "class" selectors*/

 .Achievebox{width:439px;
             height:300px;
             margin:20px 10px 20px 10px;
             background:transparent;
             border:thick solid yellow;
             outline: 10px solid gold;}
 
  .edit{position:relative;
        bottom:2px;}
  
.align{text-align:justify;}
 
 .stuck{position:relative;
        left:100px;
        padding-left:80px;
        padding-right:80px;
        font-size:26px;
        background:aqua;}
        
 .stron{color:black; 
        font-size: 110px;
        margin-left:180px;
        text-shadow: 6px 2px 2px grey;}